<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/profile/index/desktop/style.css")
<script src="~/Content/Profile/Index/Desktop/script.js"></script>
</head>
<body>
    <img class="cover-photo" src="https://i.imgur.com/0T9GiaQ.jpg" /></img>

    <div class="status-bar">
        <div class="bio">
            <div class="bio-title">BIOGRAFIA</div>
            <div id="bio-text" class="bio-text">Escreva aqui sua biografia, um pouco de fatos particulares de sua vida.</div>
            <button id="bio-edit-button" type="button" class="btn btn-light btn-sm bio-button" style="margin-top: 20px">Editar Biografia</button>
        </div>
        <div class="profile-box">
            <img class="profile-photo" src="https://i.imgur.com/nTCZIMxl.jpg"></img>
            <div class="profile-name">NOME DA PESSOA</div>
        </div>
        <div class="friend-list">
            <div class="friend-thumb"></div>
            <div class="friend-thumb"></div>
            <div class="friend-thumb"></div>
            <div class="friend-thumb"></div>
            <div class="friend-thumb"></div>
            <div class="friend-thumb"></div>
        </div>
    </div>
    <div class="profile-items">
        <div class="prefered-photos">
            <div class="prefered-img-thumb"></div>
            <div class="prefered-img-thumb"></div>
            <div class="prefered-img-thumb"></div>
            <div class="prefered-img-thumb"></div>
        </div>
        <div class="comments">
            <h2>Comentários</h2>
            <form class="comments-post">
                <textarea class="comment-input" maxlength="20" rows="3" cols="50" placeholder="      Deixe seu comentário..."></textarea>
                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i>  Comentar</button>
            </form>
        </div>
    </div>
</body>
</html>
