<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/profile/index/desktop/style.css")
</head>
<body>
    <img class="cover-photo" src="https://img-9gag-fun.9cache.com/photo/a7bzvjL_700bwp.webp" /></img>

    <div class="status-bar">
        <div class="bio">
            <div id="bio-text" class="bio-text">Escreva aqui sua biografia, um pouco de fatos particulares de sua vida.</div>
            <button type="button" class="btn btn-light btn-sm bio-button" style="margin-top: 20px">Editar Biografia</button>
        </div>
        <div class="profile-box">
            <img class="profile-photo" src="https://i.imgur.com/T8ZH3N4.jpg"></img>
            <div class="profile-name">NOME DA PESSOA</div>
        </div>
        <div class="friend-list">
            <div>Amigo deste homem indiano claramente de idade avançada</div>
        </div>
    </div>
    <div class="profile-items">
        <div class="prefered-photos"></div>
        <div class="comments"></div>
        <div class="all-profile-photos"></div>
    </div>
</body>
</html>
