<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/profile/index/desktop/style.css")
</head>
    <body>
        <div class="cover-photo">
        </div>
        <div class="status-bar">
            <div class="bio">Bio</div>
            <div class="friend-list">Friends</div>
            <div class="profile-photo"></div>
        </div>
    </body>
</html>
