<div class="profile-settings-block"></div>
<div class="profile-settings">
    <div class="settings-header">
        <i class="fa fa-times"></i>
        <h3>Edit Profile</h3>
    </div>
    <div class="settings-body">
        <form>
            <div class="settings-cover-photo">
                <i class="fa fa-camera"></i>
                <input type="file" />
                <img />
            </div>
            <div class="settings-profile-photo">
                <i class="fa fa-camera"></i>
                <input type="file" />
                <img />
            </div>
            <div class="settings-fullname">
                <div>
                    <label>Name</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Surname</label>
                    <input type="text" />
                </div>
            </div>
            <div class="settings-bio">
                <label>Bio</label>
                ​<textarea></textarea>
            </div>
            <div class="settings-birthdate">
                <label>Birthdate</label>
                <input type="date" />
            </div>
        </form>
    </div>
</div> 

<div class="cover-photo">
    <div>
        <img src="https://i.imgur.com/0T9GiaQ.jpg" />
    </div>
</div>

<div class="profile">
    <div class="profile-photo">
        <img src="https://i.imgur.com/nTCZIMxl.jpg" />
    </div>
    <div class="profile-name">
        <h2>@ViewBag.Name</h2>
    </div>
    <div class="profile-bio">
        <h3>@ViewBag.Bio</h3>
    </div>
    <div class="profile-friends">
        <h3>Friends</h3>
        <div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        </div>
    </div>
    <i class="fa fa-edit"></i>

</div> 
 

<div class="profile-items">
    <div class="photos">
        <h3>Photos</h3>
        <div class="prefered-photos">
            <div class="prefered-img-thumb"></div>
            <div class="prefered-img-thumb"></div>
            <div class="prefered-img-thumb"></div>
            <div class="prefered-img-thumb"></div>
        </div>
    </div>
    <div class="comment-section">
        <h3>Comments</h3>
        <form class="comments-post">
            <textarea class="comment-input" maxlength="60" rows="10"></textarea>
            <div class="comment-button">Comentar</div>
        </form>
        <div class="comments-1">
            <div class="comments">
                <div>
                    <figure>
                        <img src="http://www.regrom.com/wp-content/uploads/2017/07/2006BF4261-400x400.jpg" />
                        <figcaption>Jailson Mendes</figcaption>
                    </figure>
                    <div>
                        <div class="main-comment">
                            <button class="counter-button" id="counter-button" type="button">❤</button>
                            <h5 class="counter">0</h5>
                            <h5>Comentario do suco de laranja do Jailson</h5>
                        </div>
                        <div class="answer-comment">
                            <form>
                                <textarea maxlength="20" placeholder="Resposta do comentário"></textarea>
                            </form>
                            <h6>suco de laranja do Jailson</h6>
                            <h6>Comentario do suco de laranja do Jailson</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
