<div class="profile-settings-block"></div>
<div class="profile-settings">
    <div class="settings-header">
        <i class="fa fa-times"></i>
        <h3>Edit Profile</h3>
    </div>
    <div class="settings-body">
        <form>
            <div class="settings-cover-photo">
                <i class="fa fa-camera"></i>
                <input type="file" />
                <img />
            </div>
            <div class="settings-profile-photo">
                <i class="fa fa-camera"></i>
                <input type="file" />
                <img />
            </div>
            <div class="settings-fullname">
                <div>
                    <label>Name</label>
                    <input type="text" />
                </div>
                <div>
                    <label>Surname</label>
                    <input type="text" />
                </div>
            </div>
            <label>Bio</label>
            ​<textarea></textarea>
            <label>Birthdate</label>
            <input type="date" />
        </form>
    </div>
</div> 

<div class="cover-photo">
    <div>
        <img src="https://i.imgur.com/0T9GiaQ.jpg" />
    </div>
</div>

<div class="profile">
    <div class="profile-photo">
        <img src="https://i.imgur.com/nTCZIMxl.jpg"></img>
    </div>
    <div class="profile-name">
        <h2>@ViewBag.Name</h2>
    </div>
    <div class="profile-bio">
        <h3>@ViewBag.Bio</h3>
    </div>
    <div class="profile-friends">
        <h3>Friends</h3>
        <div>
      @*<div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>
        <div class="friend-thumb"></div>*@
        </div>
    </div>
    <button id="profile-edit" type="button" class="btn btn-light btn-sm bio-button">Editar Perfil</button>

</div> 
  
@*<div class="profile-items">
    <div class="prefered-photos">
        <div class="prefered-img-thumb"></div>
        <div class="prefered-img-thumb"></div>
        <div class="prefered-img-thumb"></div>
        <div class="prefered-img-thumb"></div>
    </div>
    <div class="comment-section">
        <form class="comments-post">
            <textarea class="comment-input" maxlength="20" rows="3" cols="50" placeholder="Deixe seu comentário"></textarea>
            <div class="comment-button">Comentar</div>
        </form>
        <div class="comments">
            <div>
                <figure>
                    <img src="http://www.regrom.com/wp-content/uploads/2017/07/2006BF4261-400x400.jpg" />
                    <figcaption>Jailson Mendes</figcaption>
                </figure>
                <h5>Comentario do suco de laranja do Jailson</h5>
                <div class="answer-comment">
                    <form>
                        <button class="fas fa-heart-square" id="counter-button" type="button">❤</button>
                        <h6 class="counter">0</h6>
                        <textarea maxlength="20"></textarea>
                    </form>
                    <h6>Comentario do suco de laranja do Jailson</h6>
                </div>
            </div>
        </div>
    </div>
</div>*@
