@{
    ViewBag.Title = "Cadastre-se";
}

<div class="gradient"></div>

<h3>Welcome to the Social Media!</h3>
<div class="container-main">
    @*<div class="box_template_image">
            <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2017/02/17160524/social-media-walls-for-events.jpg" class="template_image_login" />
        </div>*@
    <span>@ViewBag.Error</span>
    <div class="box-registration">
        @using (Html.BeginForm("create", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="surname" placeholder="Surname">
            <input type="date" name="birthdate">
            <input type="text" name="nickname" placeholder="Nickname">
            <input type="text" name="email" placeholder="E-mail">
            <input type="password" name="password" placeholder="Password">
            <div class="register-buttons">
                <input type="submit" class="register-button-sign-up" value="Sign Up">
                <div class="register-button-login">Login</div>
            </div>
        }
    </div>
    <div class="box-login">
        @using (Html.BeginForm("login", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <input type="text" name="uk" placeholder="Email or nickname">
            <input type="password" name="password" placeholder="Password">
            <div class="login-buttons">
                <input type="submit" class="login-button" value="Login" />
                <div class="login-button-back">Back</div>
            </div>
        }
        </div>
</div>









