@{ 
    ViewBag.Title = "Cadastre-se";
}
@Styles.Render("~/Content/home/index/desktop/style.css")
<div class="gradient"></div>

<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="logo-button">
                <img src="https://i.imgur.com/DZE7h4J.png" class="logo" />
                <h3 class="text-logo-button">Social Media</h3>
            </button>
        </div>

        <!--
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Início", "Index", "Home")</li>
                <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                <li>@Html.ActionLink("Login", "Contact", "Home")</li>
            </ul>
        </div>
         -->
    </div>
</div>

<div class="container_main">
    <div class="box_template_image">
        <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2017/02/17160524/social-media-walls-for-events.jpg" class="template_image_login" />
    </div>
    <div class="box_login">
        <form>
            <div class="forms_row">
                <div class="col-xs-7">
                    <input type="text" class="form-control" placeholder="Primeiro nome.">
                </div>
                <div class="col-xs-7">
                    <input type="text" class="form-control" placeholder="Sobrenome.">
                </div>
                <div class="col-xs-7">
                    <input type="text" class="form-control" placeholder="Email ou usuário.">
                </div>
                <div class="col-xs-7">
                    <input type="password" class="form-control" placeholder="Senha.">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Enviar</button>
            </div>
        </form>
    </div>
</div>

    






