@{
    ViewBag.Title = "Cadastre-se";
}
@Styles.Render("~/Content/home/index/desktop/style.css")
@Styles.Render("~/Content/font-awesome.css")
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="~/Content/Home/Index/Desktop/script.js"></script>
<div class="gradient"></div>

<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button class="logo-button">
                <img src="https://i.imgur.com/DZE7h4J.png" class="logo" />
            </button>
            <input class="search col-lg-8" type="search" placeholder=" | Search">
        </div>
    </div>
</div>
<h3 class="welcome_text">
    Bem vindo ao Social Media!
</h3>
<div class="container-main">
    @*<div class="box_template_image">
            <img src="https://blogmedia.evbstatic.com/wp-content/uploads/wpmulti/sites/3/2017/02/17160524/social-media-walls-for-events.jpg" class="template_image_login" />
        </div>*@
    <div class="box-registration" id="box-registration">
        <form class="form-group">
            <input type="text" class="form-control" id="first_name" placeholder="Name">
            <input type="text" class="form-control" id="last_name" placeholder="Surname">
            <input type="date" class="form-control" id="birthdate" placeholder="Data de aniversário">
            <input type="text" class="form-control" id="nickname" placeholder="Nickname">
            <input type="text" class="form-control" id="email" placeholder="E-mail">
            <input type="password" class="form-control" id="password" placeholder="Password">
            <div class="form_buttons">
                <button class="btn btn-primary register_button" id="register_button" type="button">Cadastrar</button>
                <button class="btn btn-light login_button" type="button" id="login_button">Realizar login</button>
            </div>
        </form>
    </div>
    <div class="box_login" id="box_login">
        <div class="welcome_text">
            Favor inserir suas informações de login.
        </div>
        <form class="form-group">
            <div class="col-xs-8">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="col-xs-8">
                <input type="password" class="form-control" placeholder="Senha">
            </div>
            <div class="form_buttons">
                <button class="btn btn-light login_button" type="button" id="login_button">Realizar login</button>
            </div>
            <div class="form_buttons">
                <button class="btn btn-light login_button" type="button" id="button_return">Voltar</button>
            </div>
        </form>
    </div>
</div>

<div class="footer">
    <p>Copyrigh 2019 Yuri C Kaminski e João Pedro PA Silva</p>
</div>







