body {
    background-color : rgb(196, 196, 196);

}

.navbar {
    background-image: url("https://previews.123rf.com/images/tom19275/tom192751707/tom19275170700001/81477230-vector-blue-electronic-circuit-board-background.jpg");

}

.navbar-toggle {
    text-shadow: 3px 2px black;
    font-family: "Segoe UI Semibold";
}