body {
    padding-top: 0%;
    background-color: rgb(234, 234, 234);
    //background: -moz-radial-gradient(center, ellipse cover, rgba(255,204,255,1) 0%, rgba(255,255,255,1) 100%);
}

.locked {
    overflow: hidden;
}

/* POP UP */
.profile-settings-block {
    background: black;
    display: none;
    height: 100%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.profile-settings {
    background-color: white;
    bottom: 0;
    border-radius: 25px;
    display: none;
    height: 100%;
    left: 0;
    margin: auto;
    max-height: 650px;
    max-width: 550px;
    overflow: hidden;
    padding: 0px 15px 0px 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 6;
}

.settings-header {
    border-bottom: 2px solid #d492f1;
    margin-bottom: 0px;
    padding: 10px;
    height: auto;
    z-index: 7;
}

.settings-header h3 {
    color: rgb(212, 146, 241);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0px;
    margin-left: 40px;
    transform: translateX(-15px);
    user-select: none;
}

.settings-header i {
    color: #d492f1;
    cursor: pointer;
    float: left;
    font-size: 24px;
    font-weight: 100;
    position: absolute;
    z-index: 8;
}

.settings-body {
    height: 565px;
    overflow-y: auto;
}

.settings-cover-photo {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    height: 200px;
    transition: box-shadow 0.2s;
    width: 100%;
}

.settings-cover-photo:hover {
    box-shadow: inset 0px 0px 15px 5px #d5d5d5;
}

.settings-cover-photo:hover i {
    bottom: 0;
    color: #b7b7b7;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
}

.settings-body img {
    background-color: #c4c4c4;
    height: 100%;
    position: absolute;
    transition: transform 0.8s ease;
    width: 100%;
    z-index: -1;
}

.settings-cover-photo:hover img{
    transform: scale(1.1);
}

.settings-cover-photo input {
    cursor: pointer;
    height: 100%;
    max-width: none;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.settings-cover-photo i {
    position: absolute;
    display: none;
}


.settings-profile-photo {
    border-radius: 100px;
    border: 2px solid #d492f1;
    cursor: pointer;
    height: 125px;
    left: 25px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    transition: box-shadow 0.2s;
    top: 175px;
    width: 125px;
}

.settings-profile-photo:hover {
    box-shadow: inset 0px 0px 15px 5px #d5d5d5;
}

.settings-profile-photo:hover i {
    bottom: 0;
    color: #b7b7b7;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 45%;
    display: block;
}

.settings-profile-photo img {
    height: 100%;
    position: absolute;
    transition: transform 0.8s ease;
    width: 100%;
    z-index: -1;
}

.settings-profile-photo:hover img {
    transform: scale(1.1);
}

.settings-profile-photo input {
    cursor: pointer;
    height: 100%;
    max-width: none;
    opacity: 0;
    position: absolute;
    width: 100%;
}

.settings-profile-photo i {
    position: absolute;
    display: none;
}

.settings-fullname {
    margin-bottom: 35px;
    margin-top: 75px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
}

.settings-fullname label{
    color: grey;
    display: block;
}

.settings-fullname div:first-child {
    float: left;
    margin-right: 65px;
}

.settings-fullname input[type=text] {
    background-color: #f3f3f3;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 5px 5px 0 0;
    color: #595959;
    padding: 5px 5px 0 5px;
}

.settings-bio {
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
}

.settings-bio label {
    color: grey;
    display: block;
}

.settings-bio textarea {
    background-color: #f3f3f3;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 5px 5px 0 0;
    color: #595959;
    height: 90px;
    padding: 5px 5px 0 5px;
    max-width: 100%;
    resize: none;
    width: 100%;
}

.settings-birthdate {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 5px;
}

.settings-birthdate label {
    color: grey;
    margin-bottom: 0px;
    margin-right: 10px;
}

.settings-birthdate input {
    background-color: #f3f3f3;
    border: none;
    border-bottom: 1px solid #bfbfbf;
    border-radius: 5px 5px 0 0;
    color: #d492f1;
}

.settings-footer {
    background-color: #d492f1;
    left: 0px;
    padding-left: 0px;
    position: absolute;
    width: 100%;
    z-index: 7;
}

.settings-footer h2 {
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 8px;
    margin: 0;
    text-align: center;
}

    /* POP UP END */

    /* PROFILE BAR */

.cover {
    //This class is with problems to be recognized so it was moved to profile shared layout.
}

.cover div {
    background: grey;
    height: 350px;
    left: 0;
    margin: auto;
    max-width: 1500px;
    overflow: hidden;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.cover img {
    top: 0;
    max-width: 1500px;
}

.profile {
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
    margin: 265px auto auto auto;
    max-width: 1500px;
    position: relative;
    width: 100%;
    box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.10);
}

.profile-photo {
    border-radius: 50%;
    border: 5px solid white;
    height: 200px;
    left: 50px;
    overflow: hidden;
    position: absolute;
    top: -100px;
    width: 200px;
    z-index: 2;
}

.profile-photo img {
    width: 100%;
}

.profile-name {
    left: 275px;
    position: absolute;
    top: -45px;
}

.profile-name h2 {
    color: white;
    margin-right: 5px;
    max-height: 100px;
    max-width: 250px;
    float: left;
    font-size: 30px;
}

.profile-name i {
    color: white;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.5;
}

.profile-name i:hover {
    opacity: 1;
}

.profile-bio {
    display: block;
    float: left;
    height: 175px;
    margin-left: 260px;
    margin-top: 15px;
    margin-right: 15%;
    position: relative;
    width: 400px;
}

.profile-bio h3 {
    color: #464646;
    text-align: justify;
    font-size: 18px;
    word-wrap: break-word;
}

.profile-friends {
    position: absolute;
    right: 150px;
    margin: 15px;
    float: left;
    width: 200px;
}

.profile-friends h3 {
    font-size: 18px;
    text-align: center;
}

.profile-friends div:not([class="friend-thumb"]) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.profile-friends .friend-thumb {
    background-image: url(https://i.imgur.com/nTCZIMx.jpg);
    background-size: cover;
    border-radius: 5%;
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    height: 55px;
    width: 55px;

    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
}

.profile-request {
    background-color: white;
    border: 2px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    height: 40px;
    right: 5%;
    padding: 5px 8px 5px 8px;
    position: absolute;
    top: -45px;
}

.profile-request i, .profile-request h4 {
    margin-top: 3px;
    font-size: 16px;
    user-select: none;
}

.profile-request i {
    margin-right: 4px;
}

    /* PROFILE BAR END*/

    /* PROFILE BODY START */

.profile-body {
    background-color: rgb(242, 242, 242);
    display: flex;
    height: auto;
    justify-content: space-around;
    margin: auto auto auto auto;
    max-width: 1500px;
    padding-top: 15px;
}

.section-featured-photos {
    background-color: white;
    border-radius: 5px;
    height: 100%;
    margin-bottom: 0px;
    margin-right: 0px;
    padding: 15px;
}

.section-featured-photos h3 {
    font-size: 18px;
    text-align: center;
}

.section-featured-photos .featured-photos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-gap: 5px;
}

.featured-photos div {
    height: 200px;
    width: 200px;
}

.featured-photos div img {
    background-color: grey;
}


/* COMMENTARY SECTION START */

.section-commentary {
    background-color: white;
    border-radius: 5px;
    display: flex;
    height: auto;
    padding: 15px;
    flex-direction: column;
    margin-bottom: 0px;
    margin-right: 0px;
}

.section-commentary h3 {
    font-size: 18px;
    text-align: center;
}

.section-commentary .form-commentary {
    margin-bottom: 15px;
}

.section-commentary form {
    display: flex;
    justify-content: center;
    width: auto;
}

.section-commentary form textarea {
    background-color: #f2f2f2;
    border: none;
    height: 65px;
    padding: 2px 2px 2px 5px;
    max-width: 100%;
    outline: none;
    resize: none;
    width: 450px;
}

.section-commentary form div {
    align-items: center;
    background-color: #d492f1;
    border: none;
    border-left: none;
    color: white;
    cursor: pointer;
    display: flex;
    width: 100px;
    height: 65px;
    text-decoration-color: white;
    position: relative;
    justify-content: center;
    user-select: none;
}

.commentary {
    max-width: 550px;
}
.comment {
    background-color: #f2f2f2;
    border-bottom: 2px solid #dedede;
    padding-bottom: 5px;
    padding-left: 5px;
    width: auto;
}

.comment figure {
    align-items: center;
    display: flex;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0px;
}

.comment img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.comment figcaption {
    margin: 3px 8px 8px 8px;
    text-align: center;
    font-size: 18px;
}

.comment h5 {
    padding-left: 10px;
    padding-right: 15px;
    font-size: 18px;
    margin-left: 50px;
    word-wrap: break-word;
}

.comment div {
    background-color: Transparent;
    background-repeat: no-repeat;
    border-right: 1px solid #8e8e8e;
    cursor: pointer;
    float: left;
    padding-right: 5px;
    margin-left: 15px;
    margin-right: 5px;
    overflow: hidden;
    user-select: none;
}

.comment h6 {
    font-size: 15px;
    padding-right: 5px;
}

    /* COMMENTARY SECTION END */
    /* PROFILE BODY END */


    /* FEED START */

.gallery {
    background-color: #f2f2f2;
    height: auto;
    margin: auto auto auto auto;
    max-width: 1500px;
    padding-top: 35px;
}

.gallery-header {
    display: flex;
    height: 25px;
    justify-content: center;
    text-align: center;
}

.gallery-header .divider {
    float: left;
    background: #d7d5d5;
    width: 85px;
    height: 2px;
    margin-top: 10px;
}

.gallery-header h3 {
    font-size: 18px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.gallery-body {
    column-gap: 100px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    min-height: 250px;
    justify-content: center;
    row-gap: 25px;
}

.gallery-body .gallery-loader {
    height: 50px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 50px;
}

.gallery-body .post {
    border-radius: 5px;
    color: #fff;
    height: 300px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    width: 300px;
}

.gallery-body .post img {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.gallery h4 {
    align-items: center;
    color: #a5a5a5;
    display: flex;
    height: 250px;
    font-size: 18px;
    justify-content: center;
    text-align: center;
    user-select: none;
}

        /* FEED END */



