body {
    padding-top: 0%;
    background-color: rgb(234, 234, 234);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,204,255,1) 0%, rgba(255,255,255,1) 100%);
}

.cover-photo {
    top: 0%;
    background-color: rgb(216, 216, 216);
    max-width: 1500px;
    height: 300px;
    width: 100%;
}

.status-bar {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}

.bio {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
    background: rgb(254,243,255);
    background: radial-gradient(circle, rgba(254,243,255,0.80) 27%, rgba(253,233,255,0.80) 68%);
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.10);
}


.bio-text {
    margin-top: 8%;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    left: 50%;
    right: 50%;
}

.profile-photo {
    background-color: rgb(216, 216, 216);
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}


.profile-name {
    max-height: 100px;
    max-width: 250px;
    align-self: center;
    font-size: 30px;
}

.friend-list {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    background: rgb(254,243,255);
    background: radial-gradient(circle, rgba(254,243,255,0.80) 27%, rgba(253,233,255,0.80) 68%);
    border-radius: 5px;
    padding: 30px 30px 30px 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.10);
}

.friend-thumb {
    width: 80px;
    height: 80px;
    background-image: url(https://i.imgur.com/nTCZIMx.jpg);
    background-size: cover;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    border-radius: 5%;
}

.profile-items {
    background-color: white;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-grow: 1;
    height: 800px;
}

.comment-section {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    background: rgb(254,243,255);
    background: radial-gradient(circle, rgba(254,243,255,0.80) 27%, rgba(253,233,255,0.80) 68%);
    border-radius: 5px;
    padding-top: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.10);
    height: auto;
}

.row {
    width: 600px;
    height: 600px;
}

.comments-post {
    width: 80%;
    display: flex;
    background-color: white;
    margin-bottom: 15px;
}

.comment-input {
    max-width: 80%;
    height: 50px;
    outline: none;
    resize: none;
    border: solid 1px rgba(0, 0, 0, 0.30);
    border-right: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    text-align: center;
}

.comment-button {
    width: 100px;
    height: 50px;
    background-color: rgb(240, 137, 255);
    border-radius: 5px;
    text-decoration-color: white;
    border: solid 1px rgba(0, 0, 0, 0.30);
    border-left: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
}

.answer-comment div h6 {
    height: 15px;
    width: 15px;
    font-size: 10px;
}

.answer-comment textarea {
    width: 100%;
    height: 20px;
    outline: none;
    resize: none;
    border: solid 1px rgba(0, 0, 0, 0.30);
    border-right: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.20);
    border-radius: 5px;
}

.prefered-photos {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 40px 30px 30px 30px;
    justify-items: center;
    grid-gap: 20px;
    width: 500px;
    background: rgb(254,243,255);
    background: radial-gradient(circle, rgba(254,243,255,0.80) 27%, rgba(253,233,255,0.80) 68%);
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.10);
}

.prefered-img-thumb {
    height: 150px;
    width: 100%;
    background-image: url(https://i.imgur.com/0T9GiaQ.jpg);
    background-size: cover;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    border-radius: 3%;
}

.comments {
    width: 80%;
}

    .comments h6 {
        font-size: 12px;
        padding-left: 60px;
    }


.answer-comment form {
    margin-bottom: 10px;
    width: 100%;
}

.answer-comment button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

.comments div {
    border-radius: 5px;
    width: 100%;
    height: 30%;
    padding-left: 30px;
}

.comments img {
    height: 30px;
    width: 30px;
    -webkit-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    -moz-box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
    box-shadow: 4px 4px 5px -2px rgba(0,0,0,0.62);
}

.comments figure {
    display: flex;
    align-items: center;
}

.comments figcaption {
    margin: 8px 8px 8px 8px;
    text-align: center;
}

.comments h5 {
    font-size: 15px;
}

.counter--show {
    display: block;
}

.counter {
    display: none;
}
