body {
    padding-top: 0%;
    background-color: rgb(234, 234, 234);
}

.cover-photo {
    top: 0%;
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 300px;
}

.status-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: white;
    width: 100%;
    height: 220px;
    align-content: center;
    align-items: center;
}

.bio {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 2%;
    width: 500px;
    height: 150px;
    align-items: center;
}

.bio-text{
    margin-top: 10%;
}

.profile-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 250px;
    margin: -150px auto;
    align-self: flex-start;
}

.profile-photo {
    background-color: rgb(216, 216, 216);
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}


.profile-name{
    max-height: 100px;
    max-width: 250px;
    align-self: center;
    font-size: 30px;
}

.friend-list {
    display: grid;
    align-items: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: auto auto auto;
    margin-right: 8%;
    margin-top: 5%;
    grid-gap: 15px;
}

.friend-card {
    max-width: 100px;
    max-height: 100px;
    margin: 5% 5% 5% 5%;
}

.profile-items {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: auto auto;
    align-items: center;
    width: 100%;
    height: 400px;
}

.comments {
    display: flex;

    align-content: center;
    flex-direction: column;
    align-items: center;
}

.prefered-photos {
    display: grid;
    align-items: center;
    grid-template-columns: 250px 250px;
    grid-template-rows: auto auto;
    grid-gap: 15px;
    margin-left: 8%;
    margin-top: 10%;
}

.prefered-img-thumb {
    max-height: 100%;
    max-width: 100%;
}

.widget-area.blank {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

body .no-padding {
    padding: 0;
}

.widget-area {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    position: relative;
    width: 100%;
}

.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
}

    .status-upload form {
        float: left;
        width: 100%;
    }

        .status-upload form textarea {
            background: none repeat scroll 0 0 #fff;
            border: medium none;
            -webkit-border-radius: 4px 4px 0 0;
            -moz-border-radius: 4px 4px 0 0;
            -ms-border-radius: 4px 4px 0 0;
            -o-border-radius: 4px 4px 0 0;
            border-radius: 4px 4px 0 0;
            color: #777777;
            float: left;
            font-family: Lato;
            font-size: 14px;
            height: 142px;
            letter-spacing: 0.3px;
            padding: 20px;
            width: 100%;
            resize: vertical;
            outline: none;
            border: 1px solid #F2F2F2;
        }

    .status-upload ul {
        float: left;
        list-style: none outside none;
        margin: 0;
        padding: 0 0 0 15px;
        width: auto;
    }

        .status-upload ul > li {
            float: left;
        }

            .status-upload ul > li > a {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                -ms-border-radius: 4px;
                -o-border-radius: 4px;
                border-radius: 4px;
                color: #777777;
                float: left;
                font-size: 14px;
                height: 30px;
                line-height: 30px;
                margin: 10px 0 10px 10px;
                text-align: center;
                -webkit-transition: all 0.4s ease 0s;
                -moz-transition: all 0.4s ease 0s;
                -ms-transition: all 0.4s ease 0s;
                -o-transition: all 0.4s ease 0s;
                transition: all 0.4s ease 0s;
                width: 30px;
                cursor: pointer;
            }

                .status-upload ul > li > a:hover {
                    background: none repeat scroll 0 0 #606060;
                    color: #fff;
                }

    .status-upload form button {
        border: medium none;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        float: right;
        font-family: Lato;
        font-size: 14px;
        letter-spacing: 0.3px;
        margin-right: 9px;
        margin-top: 9px;
        padding: 6px 15px;
    }

.dropdown > a > span.green:before {
    border-left-color: #2dcb73;
}

.status-upload form button > i {
    margin-right: 7px;
}